html {
    height: auto;
}
* {
    color: whitesmoke;
}
body {
background: linear-gradient(rgb(15, 23, 42), rgb(16, 26, 54));
background-attachment: fixed;
}

header {
    display: flex;
    justify-content: flex-end;
    gap: 700px;
}

.header__Initials {
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(111, 204, 173);
}   

ul{
    padding-top: 30px;
    padding-right: 50px;
    display: flex;
    gap: 200px;
    
}
a:hover {
    transition: 0.5s;
    opacity: 0.5;
}

a {
    text-decoration: none;
}

.nav__ul__Button {
color: inherit;
background-color: inherit;
border: none;
font-size: inherit;
font-family: inherit;
cursor: pointer;

}
.nav__ul__Button:hover {
    transition: 0.5s;
    opacity: 0.5;
}
.removeButton {
color: inherit;
background-color: inherit;
font-family: inherit;
cursor: pointer;
border: none;
width: 10px;
height: 10px;

}

.divInfo {
margin-top: 250px;
margin-left: 200px;
width: 700px;
height: 100px;
}

.divInfo__h2 {
font-size: 60px;
margin-bottom: -20px;

}

.divInfo__profrole {
font-size: 30px;
}

.divInfo__info {
word-wrap: break-word;
}

.lowerNav {
display: flex;
flex-flow: column;
gap: 10px;
max-width: 25px;
padding-left: 15px;
margin-top: 100px;
}

.navBarOnClick {
    margin-top: 242px;
   margin-left: 1100px;
   position: absolute;
   height: 400px;
   width: 800px;
}



.aboutMeInfo, .removeButton {
  animation-name: fadeIn;
  animation-duration: 0.7s;
    
    
}
.aboutMeInfo {
    width: 600px;
    word-spacing: 5px;
}


@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }