* {
    color: whitesmoke;
}
body {
min-height: 1000px;
background: linear-gradient(rgb(15, 23, 42), rgb(16, 26, 54));
}

header {
    display: flex;
    justify-content: flex-end;
    gap: 900px;
}

.header__Initials {
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(111, 204, 173);
}   

ul{
    padding-top: 30px;
    padding-right: 50px;
    display: flex;
    gap: 200px;
    
}
a:hover {
    transition: 0.5s;
    opacity: 0.5;
}

a {
    text-decoration: none;
}


.divInfo {
margin-top: 250px;
margin-left: 300px;
display: flex;
flex-flow: column;
}

.divInfo__h2 {
font-size: 60px;
margin-bottom: -20px;

}

.divInfo__profrole {
font-size: 30px;
}

.divInfo__info {
word-wrap: break-word;
}

.lowerNav {
display: flex;
flex-flow: column;
gap: 10px;
margin-bottom: 300px;
max-width: 40px;
height: 300px;
}

